@charset "UTF-8";

.text-info {
	color: black !important;
}


.text-url {
	color: black !important;
}
.text-url:hover {
	color: #a0a0a0 !important;
}


.btn-info {
	color: #fff;
    background-color: black;
    border-color: #666666;
}

.btn-info:hover{
	color: fff;
	background-color:#666666;
	
}

.btn-header {
	color: #fff;
	background-color: black;
	border-color: #666666;
}

.btn-header:hover {
	color: fff;
	background-color: #666666;
}