<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainMAP">
	<select id="selectAll" resultType="content">
		SELECT * FROM content
	</select>
	
	<select id="getOneContent" parameterType="content" resultType="content">
		SELECT * FROM content WHERE connum = #{connum}
	</select>
</mapper>