<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases>
	<typeAlias type="project.simsim.systems.domains.ManagerAdVO" alias="manager"/>
	<typeAlias type="project.simsim.systems.domains.ContentVO" alias="content"/>
	<typeAlias type="project.simsim.systems.domains.MemberVO" alias="member"/>
 </typeAliases>



</configuration> 

